PyPDF2
agent
bclearer_interop_services
datasets
docx
dynaconf
faiss-cpu
gpt_researcher
langchain
langchain_community
langchain_core
langchain_experimental
langchain_openai
langchain_text_splitters
langgraph
langgraph_sdk
llama_index
matplotlib
numpy
#megaparse
networkx
openai
pandas
pdfplumber
pydantic
pypdf
pytest
seaborn
tiktoken
tqdm
transformers
typing_extensions


